body {
  background: #bfb8da;
  }
  
  #all-posts {
    margin: 7rem auto;
    width: 90%;
    max-width: 60rem;
  }

  #all-posts2 {
    background-color: #bfb8da;
    padding: 2rem;
    border-radius: 12px;
    width: 60rem;
    margin: -6rem auto 2rem auto;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);
  }
  
  #all-posts h2 {
    text-align: center;
    font-size: 2rem;
    color: #e4e4e4;
    margin: 1rem 0;
  }

  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    gap: 1.5rem;
  }
  
  .post img {
    width: 7rem;
    height: 7rem;
  }

  
  .post a {
    height: 22rem;
    transform-origin: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    background-color: #b5afce;
  }